
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-banner">
</div>
<section class="ntq-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
        </ul>
    </div>
</section>
<!--//inner-page-->
<!-- about page about section -->
<section class="ntq-index3" id="about">
    <div class="midd-nt py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h6 class="title-subhny">Our Story</h6>
                    <h3 class="title-left mx-0">About NITAQ</h3>
                    <p class="mt-md-4 mt-3">
                       A Saudi start-up company specialized in the field of information technology and providing innovative digital solutions for companies and individuals, so that we
                        help our customers acheive their goals by providing our distinguished services in the areas of software development and web-design.
                    </p>
                    
                </div>
                <div class="col-lg-5 mt-lg-0 mt-4">
                    <div class="position-relative">
                        <img src="assets/images/b1.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about page about section -->

<!-- home page block grids -->
<section class="ntq-grids-3 py-5" id="why">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row bottom-ab-grids">
            <div class="col-lg-6 bottom-ab-left align-self">
                <span class="title-subhny mb-2">IT Solutions</span>
                <h3 class="title-ntq mb-4">Take The Right Step And Choose NITAQ</h3>
                <p class="">
                    NITAQ 
                </p>
                <ul class="cont-4 mt-4">
                    <li><span class="fa fa-check"></span>Expertise </li>
                    <li><span class="fa fa-check"></span>Efficiency</li>
                    <li><span class="fa fa-check"></span>Security</li>
                </ul>
            </div>
            <div class="col-lg-6 bottom-right-grids pl-lg-5 mt-lg-0 mt-5">
                <img src="assets/images/b2.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //home page block grids -->
<!--/team-->


