
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner">
</div>
<section class="ntq-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact Us</li>
        </ul>
    </div>
</section>
<!--//inner-page-->
<!-- /contact-section -->
<section class="ntq-contact-2 py-5" id="contact">
    

        <div class="contact-left mt-5 pt-lg-5">
            <span class="title-subhny mb-2 text-center">Contact Us</span>
            <h3 class="title-ntq mb-5 text-center">Contact Info</h3>
            <div class="cont-details">
               
                <div class="cont-top margin-up">
                    <div class="cont-left text-center">
                        <span class="fa fa-phone"></span>
                    </div>
                    <div class="cont-right">
                        <h6>Call Us</h6>
                        <p><a >+966 55 654 1168</a></p>
                        
                    </div>
                </div>
                <div class="cont-top margin-up">
                    <div class="cont-left text-center">
                        <span class="fa fa-envelope-o"></span>
                    </div>
                    <div class="cont-right">
                        <h6>Email Us</h6>
                        <p><a class="mail">nitaqsol@gmail.com</a></p>
                        
                    </div>
                </div>
               

        
    
</section>


