
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner">
</div>
<section class="ntq-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services</li>
        </ul>
    </div>
</section>
<!--//inner-page-->
<!-- services-page-->
<section class="ntq-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-subhny"> Why choose us</h3>
                <h3 class="title-ntq mx-lg-5">Simply, you'll make the right step.</h3>
            </div>
            <div class="content-info-in row mt-5 pt-lg-5">
                <div class="content-left col-lg-6">
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr1">
                                <span class="fa fa-users"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url">Qualified Team</a></h6>
                            <p>
                              We assure that you'll get a qualified team to work on your project
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr2">
                                <span class="fa fa-shield"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url"> Maintanence</a></h6>
                            <p>
                                Here at NITAQ , we offer a year long maintainance package
                            </p>
                        </div>
                    </div>

                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5 pl-lg-5">
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr4">
                                <span class="fa fa-user-o" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url"> Customer Service</a></h6>
                            <p>
                                Our customer service is availaible to you 24/7.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr3">
                                <span class="fa fa-globe"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-lg-5">
                            <h6><a href="#url"> Global Work</a></h6>
                            <p>
                                We offer our services universially.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- //stats -->
<!-- /ntq-content-4-->


